<div class="col-12 bg-gray-100" *ngIf="model && model.actionStatus && model.actionStatus.alternateName && (model.dateCreated || model.dateModified)">
  <div class="py-2">
    <h4>
      <h5 class="text-secondary">{{'ActionStatusTypes.' + model.actionStatus.alternateName | translate}}</h5>
    </h4>
    <div class="pb-2 text-secondary">
      <span>
        <span [translate]="'CreatedAt'"></span>&nbsp;<span>{{model.dateCreated | date: 'short'}}</span>
      </span>
      <span class="ml-2">
        <span [translate]="'ModifiedAt'"></span>&nbsp;<span>{{model.dateModified | date: 'short'}}</span>
      </span>
    </div>
    <div *ngIf="model && model.studyProgramEnrollmentEvent && model.studyProgramEnrollmentEvent.articles && model.studyProgramEnrollmentEvent.articles.length>0"
         class="mt-3" [ngClass]="{'text-success': model.actionStatus.alternateName==='ActiveActionStatus','text-indigo': model.actionStatus.alternateName==='PotentialActionStatus'}"
         [innerHTML]="model.studyProgramEnrollmentEvent.articles[0].articleBody">
    </div>
  </div>
</div>

<tabset #tabset class="col-12 tab-navbar tab-container">
  <ng-container *ngIf="!isLoading">
    <tab heading="{{'SelectStudyProgram' | translate}}" id="select-study-program">
      <app-select-study-program [studyPrograms]="studyPrograms" (onStudyProgramSelection)="onStudyProgramSelection($event)" [selectedStudyProgram]="selectedStudyProgram" [selectedSpecialty]="selectedSpecialization"></app-select-study-program>
      <!-- start display enrollment period -->
      <ng-container *ngIf="studyProgramEnrollmentEvent && ( (modelState === 'insert' && studyProgramEnrollmentEvent.isAccessibleForFree) || (modelState === 'update' && model?.actionStatus?.alternateName === 'PotentialActionStatus') )">
        <div class="row">
          <div class="col-12">
            <div class="mt-4 alert alert-secondary" role="alert">
              <span class="font-weight-bold" [translate]="'EnrollmentPeriod'"></span>
              <span>:&nbsp;</span>
              <span>{{studyProgramEnrollmentEvent.validFrom | date: 'medium'}}</span>
              <span> - </span>
              <span>{{studyProgramEnrollmentEvent.validThrough | date: 'medium'}}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- end display enrollment period -->
      <!-- start display enrollment period validation -->
      <ng-container *ngIf="showPeriodValidation">
        <ng-container *ngIf="modelState === 'insert' && selectedStudyProgram && ((studyProgramEnrollmentEvent &&
          (!studyProgramEnrollmentEvent.valid || !studyProgramEnrollmentEvent.isAccessibleForFree)) || studyProgramEnrollmentEvent == null)">
          <div class="text-center">
            <div class="mt-2">
              <div class="icon-circle bg-warning border-gray-100"></div>
            </div>
            <div class="mt-2">
              <h4 *ngIf="studyProgramEnrollmentEvent == null"
                class="font-xl font-weight-normal text-dark" [translate]="'EnrollmentEventPeriodNotSet'"></h4>
              <h4 *ngIf="studyProgramEnrollmentEvent && !studyProgramEnrollmentEvent.isAccessibleForFree; else accessibleForFree"
                class="font-xl font-weight-normal text-dark" [translate]="'EnrollmentEventInaccessible'"></h4>
              <ng-template #accessibleForFree>
                <h4 *ngIf="studyProgramEnrollmentEvent && studyProgramEnrollmentEvent.started === true && studyProgramEnrollmentEvent.valid === false"
                class="font-xl font-weight-normal text-dark" [translate]="'EnrollmentPeriodExpired'"></h4>
                <h4 *ngIf="studyProgramEnrollmentEvent && studyProgramEnrollmentEvent.started === false"
                  class="font-xl font-weight-normal text-dark" [translate]="'EnrollmentPeriodNotStarted'"></h4>
              </ng-template>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <!-- end display enrollment period validation -->
    </tab>
    <tab heading="{{'PersonalInformation' | translate}}" id="personal-information"
      [disabled]="modelState === 'insert'">
      <ng-container *ngIf="formAction != null && createPersonalInfoForm">
        <advanced-form-edit #form1 (change)="onDataChange($event)" [(data)]="model" [formName]="formAction">
        </advanced-form-edit>
      </ng-container>
    </tab>
    <tab #attachDocuments [disabled]="model?.actionStatus?.alternateName === 'PotentialActionStatus'"
         heading="{{'Documents' | translate}}" id="attach-documents">
      <div *ngIf="model?.actionStatus?.alternateName === 'PotentialActionStatus'" class="col-12">
        <div class="alert alert-primary" role="alert">
          {{'TemporarySaveMessage' | translate}}
          <button aria-label="Close" class="close" data-dismiss="alert" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <ng-container *ngIf="documents && documents.length">
        <div class="col-12">
          <p class="text-secondary">
            {{'AttachDocumentMessage' | translate}}
          </p>
        </div>
        <ng-container *ngFor="let document of documents | filterBy: ['attachmentType'] ;let i= index">
          <div class="col-12">
            <div class="mb-4 mt-4">
              <h4 class="text-secondary">{{i+1}}. {{document.attachmentType.name}}
                <span *ngIf="document.numberOfAttachments === 0" class="font-weight-normal text-lowercase text-secondary">
                  {{'Optional' | translate}}
                </span>
              </h4>
            </div>
            <ngx-dropzone (change)="onFileSelect($event, document.attachmentType)" [accept]="'image/jpeg,image/jpg,image/png,image/gif,application/pdf'" [disableClick]="document.attachment != null"
              [multiple]="false"
              class="mt-2">
              <ngx-dropzone-label class="p-2" style="z-index: 0">
                <div *ngIf="document.attachmentType">{{document.attachmentType.description ||
                  document.attachmentType.name}}</div>
                <div>{{'UploadDocument' | translate}} (*.jpg,*.png,*.gif,*.pdf)</div>
              </ngx-dropzone-label>
              <ngx-dropzone-preview (removed)="onFileRemove(document.attachment)"
                *ngIf="document.attachment"
                [removable]="model.actionStatus && model.actionStatus.alternateName === 'PotentialActionStatus'">
                <ngx-dropzone-label>{{ document.attachment.name }} ({{ document.attachment.contentType }})
                </ngx-dropzone-label>
              </ngx-dropzone-preview>
            </ngx-dropzone>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="documents && documents.length === 0">
        <div class="text-center">
          <div class="mt-5">
            <div class="icon-circle bg-gray-200 border-gray-100"></div>
          </div>
          <div class="mt-4">
            <h4 *ngIf="model?.actionStatus?.alternateName === 'PotentialActionStatus'" [translate]="'EmptyDocumentListContinue'"
              class="font-3xl font-weight-normal text-gray-300"></h4>
              <h4 *ngIf="model?.actionStatus?.alternateName !== 'PotentialActionStatus'" [translate]="'EmptyDocumentList'"
              class="font-3xl font-weight-normal text-gray-300"></h4>
          </div>
        </div>
      </ng-container>
    </tab>
    <ng-container *ngIf="messages">
      <tab id="messages" [active]="showMessagesTab === true">
        <ng-template tabHeading>
          <i class="far fa-comments"></i><span class="pl-2">{{'Messages' | translate}}</span>
        </ng-template>
        <div class="mt-4">
          <ng-container *ngIf="messages">
            <legend ref="header">
              <span [translate]="'Messages'"></span>
              <ng-container *ngIf="messages.length">
                <button
                  (click)="showNewMessage = true"
                  *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')" class="ml-2 btn btn-sm btn-default text-indigo d-inline text-lowercase"
                  title="{{'NewMessage' | translate}}"
                  type="button">
                  <i class="fas fa-paper-plane"></i>
                  <span [translate]="'NewMessage'" class="ml-2"></span>
                </button>
              </ng-container>
            </legend>
            <ng-container *ngIf="showNewMessage">
              <app-compose-message (cancel)="showNewMessage = false" (submit)="send(newMessage)" [(model)]="newMessage">
              </app-compose-message>
            </ng-container>
            <div *ngFor="let message of messages" class="card">
              <div class="card-body">
                <div *ngIf="message.sender !== model.owner" class="text-indigo mb-2">Incoming message</div>
                <div>
                  <span class="float-right text-dark">{{ message?.dateCreated | date:'short' }}</span>
                  <div class="card-title  font-lg font-weight-normal pb-1">
                    <span *ngIf="message.subject == null" [translate]="'Register.NoSubject'"></span>
                    <span *ngIf="message.subject != null">{{message.subject}}</span>
                  </div>
                </div>
                <div [innerHTML]="message.body"
                  class="card-text mb-0 pb-2 border-left border-left-4 border-gray-200 pl-4"></div>
                <div *ngIf="message?.attachments.length>0" class="mt-2">
                  <button (click)="downloadAttachment(message?.attachments[0])" class="btn btn-light" type="button">{{
                    'DownloadFile' | translate }}</button>
                </div>
              </div>
            </div>
            <div *ngIf="messages.length === 0" class="card">
              <div class="card-body">
                <h4 class="text-secondary font-weight-normal mb-0">
                  <span [translate]="'NoMessages'"></span>
                  <button
                    (click)="showNewMessage = true"
                    *ngIf="!showNewMessage && model && model.actionStatus && (model.actionStatus.alternateName === 'PotentialActionStatus' || model.actionStatus.alternateName === 'ActiveActionStatus')" class="float-right btn btn-default text-indigo text-lowercase"
                    title="{{'NewMessage' | translate}}" type="button">
                    <i class="fas fa-paper-plane"></i>
                    <span [translate]="'NewMessage'" class="ml-2"></span>
                  </button>
                </h4>
              </div>
            </div>
  
          </ng-container>
        </div>
      </tab>
    </ng-container>
  </ng-container>
</tabset>
<div *ngIf="activeTab && activeTab.id !== 'messages'" class="col-12 mb-4">
  <div class="d-flex justify-content-end">
    <button (click)="next()" *ngIf="model?.actionStatus?.alternateName === 'PotentialActionStatus'"
      [disabled]="(activeTab.id === 'select-study-program' && !(studyProgramEnrollmentEvent != null && studyProgramEnrollmentEvent.valid == true && 
        ((studyProgramEnrollmentEvent.isAccessibleForFree === true && specializationSelectionValid) || modelState === 'update'))) || nextButtonDisabled || (activeTab.id === 'attach-documents')"
      [translate]="'Next'" class="btn btn-theme btn-lg" type="button"></button>
    <button (click)="submit()" *ngIf="(studyProgramEnrollmentEvent != null && studyProgramEnrollmentEvent.valid == true) && (activeTab.id === 'attach-documents') && (model.actionStatus.alternateName === 'PotentialActionStatus')"
      [disabled]="documentState === 'invalid'"
      [translate]="'Submit'" class="ml-2 btn btn-success btn-lg" type="button"></button>
  </div>
</div>
