<ng-container
  *ngIf="studyPrograms && studyPrograms.length; else noAvailableStudyPrograms"
>
  <!-- start study program selection form-->
  <div class="row mt-2">
    <div class="col-12">
        <advanced-form-edit
          #formComponent
          [formName]="'StudyProgramRegisterActions/select-study-program'"
          (change)="onDataChange($event)"
          [(data)]="selectedStudyProgramData"
        ></advanced-form-edit>
    </div>
  </div>
  <!-- end study program selection form-->
  <!-- start study program notes-->
  <ng-container
    *ngIf="
      locallySelectedStudyProgram &&
      locallySelectedStudyProgram.info &&
      locallySelectedStudyProgram.info.locale &&
      locallySelectedStudyProgram.info.locale.enrollmentNotes
    "
  >
    <div class="row">
      <p
        class="col-12 text-wrap mt-4"
        [innerHTML]="locallySelectedStudyProgram.info.locale.enrollmentNotes"
      ></p>
    </div>
  </ng-container>
  <!-- end study program notes-->
</ng-container>

<ng-template #noAvailableStudyPrograms>
  <h5 class="font-weight-normal text-muted">{{ "NoAvailableStudyPrograms" | translate }}</h5>
</ng-template>
